* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.0px;
}

/*Header*/

.nav {
    background-color: black;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1.2px;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.nav ul a {
    display: block;
    padding: 20px;
    /* border-right: 1px solid #aaa; */
    text-decoration: none;
    color: #fff;
}

.nav ul a:hover,
.nav .menu-btn:hover {
    background-color: #747474;
}


.nav .logo {
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.nav .menu-icon {
    user-select: none;
    /* border: 1px solid grey; */
    padding: 34px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.nav .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.nav .menu-icon .nav-icon:before,
.nav .menu-icon .nav-icon:after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    position: absolute;
    transition: all .2s ease-out;
}

.nav .menu-icon .nav-icon:before {
    top: 5px;
}

.nav .menu-icon .nav-icon:after {
    top: -5px;
}

.nav .menu-btn {
    display: none;
}

/*When the menu is in the checked state 
look for the next available sibling that has 
a class of menu and change it's max height to 240px*/
.nav .menu-btn:checked  ~ .menu {
    max-height: 240px;
}

.nav .menu-btn:checked  ~ .menu-icon .nav-icon {
    background: transparent;
}

.nav .menu-btn:checked  ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;

}
.nav .menu-btn:checked  ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}


/*Main*/

.main_container {
    background-color: black;
    padding: 1rem 1.8rem;
}

.main_container .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.main_container .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.main_container .column {
    width: 100%;
    color: white;
}

.main_container .heading,
.main_container h3 {
    letter-spacing: 1.2px;
}

.main_container .column .text_container .heading h1 {
    font-size: 34px;
}

.main_container .column .text_container .heading h2 {
   margin: 10px 0 20px 0;
}

.column  .text_container .about_text {
    width: 100%;
    margin-top: 20px;
}

.main_container .column .text_container .about_text h3 {
    margin-bottom: 20px;
}

.main_container .column .right{
    width: 100%;
} 

.buttons {
    width: 90%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.buttons .cta_button {
    margin-right: 20px;
    background-color: #747474;
    color: white;
    transition: all 0.3s ease 0s;
}

.buttons .cta_button:hover {
    background-color: #5a5a5a;
}

.buttons button {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.image {
width: 70%;
}

.image img{
    width: 100%;
    margin-left: 50px;
}

/*About*/

.about_container .about {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}

.about_container .text-about {
    width: 80%;
    margin: 0 auto;
}

.about_container .about h1 {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.2px;
}


/*Projects*/

.projects_container {
    background-color: #747474;
    color: white;
    padding: 100px 0;
    height: 100%;
}

.projects_container h1 {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.projects_container .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}


/*Card*/

.card {
    background-image: url('img.jpg');
    background-size: cover;
    background-color: black;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

/*If the card has a hover on it, it will grow in scale or something inside 
the card has a focus, it will scale up.*/
.card:hover,
.card:focus-within {
    transform: scale(1.05);
}


.card_content {
    padding: 1.5rem;
    background: linear-gradient(hsl(0 0% 0% / 0),hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
    /* transform: translateY(65%);
    transition: transform 500ms ease; */
}

.card_title {
    position: relative;
    width: max-content;
}

.card_title::after {
    content: '';
    position: absolute;
    background: #747474;
    height: 4px;
    left: calc(1.5rem * -1);
    bottom: -2px;
    width: calc(100% + 1.5rem);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card_title::after,
.card:focus-within .card_title::after {
    transform: scaleX(1);
}

.card_text {
padding: 20px 0;
    color: rgb(255, 255, 255 / 0.9);
}

.card_content .button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}

.card_content .button:hover,
.card_content .button:focus{
    background-color: #747474;
    color: #fff;
}


/*If you are on a touch screen you see static card, but if you are on a desktop
or laptop you will see the card animated*/
@media (hover) {
    .card_content {
        transform: translateY(65%);
        transition: transform 500ms ease;
    }
    
    .card:hover .card_content,
    .card:focus-within .card_content {
        transform: translateY(0);
        transition-delay: 500ms;
    }
    
    .card:focus-within .card_content {
        transition-duration: 0ms;
    }
    
    /*Everything except for x*/
    .card_content > *:not(.card_title)  {
        opacity: 0;
        transition: opacity 500ms linear;
    }
    
    .card:hover .card_content > *:not(.card_title),
    .card:focus-within .card_content > *:not(.card_title) {
        opacity: 1;
        transition-delay: 1000ms;
    }
    
    .card_title::after {
        transform: scaleX(0);
    }
    }

    /*Contact Container*/

    .contact_container {
        background-color: black;
        color: white;
        padding: 100px 0;
    }

    .contact_container .row {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
    }

    .column.right {
        width: 50%;
    }

    .column .text {
        width: 80%;
    }

    .contact_container .column {
        margin: 40px 0;
        justify-content: space-evenly;
    }

    .contact_container .column.right h2,
    .contact_container .column.right p {
        padding-bottom: 20px;
    }

    .contact_container .column.right h2 {
        text-transform: uppercase;
    }

    .contact_container .social-buttons span {
        padding: 0 10px;
    }

    .contact_container .social-buttons a {
        color: #fff;
        text-decoration: none;
    }

    .contact_container .social-buttons a:hover {
        border-bottom: 2px solid #747474;
    }

    .contact_container .column .contact {
        text-align: center;
    }

    .form-group {
        width: 100%;
        margin-top: 20px;
        font-size: 16px;
    }


    .form-group input,
    .form-group textarea,
    .contact_container button {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        border: 1px solid black;
        border-radius: 0.5rem;
    }

    .contact_container button {
        cursor: pointer;
        margin-top: 20px;
        font-weight: bold;
        background-color: #747474;
        color: #fff;
    }

    textarea {
        resize: vertical;
    }

    .scroll-up {
        position: fixed;
        bottom: 15px;
        right: 30px;
        z-index: 9;
    }

    .scroll-up a {
        height: 40px;
        width: 40px;
        text-align: center;
        display: block;
        background-color: #1b1b1b;
        border-radius: 3px;
        cursor: pointer;
    }

    .scroll-up a span {
        color: #f2f2f2;
        line-height: 39px;
        font-size: 25px;
    }

    /*Footer*/
    footer {
        background-color: black;
        color: #fff;
    }

    footer .notice {
        text-align: center;
        padding: 24px;
    }

    footer .notice strong {
        text-transform: uppercase;
    }

@media (min-width: 1200px) {
    .projects_container,
    .main_container,
    .about_container,
    .contact_container {
        width: 100%;
    }

    .projects_container .row,
    .main_container .row,
    .about_container .row {
        margin: 0 auto;
        justify-content: center;
        width: 80%;
    }

    .about_container .text-about {
        text-align: center;
    }

    .projects_container .card {
        margin-bottom: 60px;
    }

    /* .contact_container .row {
        margin: 0 auto;
        width: 80%;
        justify-content: center;
    } */

    .main_container {
        padding: 60px 0;
    }

    .projects_container .row .card {
        margin: 20px;
    }
}

@media (max-width: 1000px) {
    .main_container .row {
        align-items: center;
        text-align: center;
    }

    .main_container {
        padding: 3rem 1.8rem;
    }

    .main_container .buttons button {
        font-size: 16px;
    }

    .main_container .column.right  {
        display: none;
    }

    .main_container .column.left {
        align-items: center;
    }

    .main_container .buttons {
        width: 100%;
    }

       .projects_container .card {
        margin-bottom: 60px;
    }

    .contact_container .row {
        padding: 0 20px;
    }

    .contact_container .column.right {
        width: 60%;
    }

    .contact_container .column.right .text {
        text-align: center;
        width: 100%;
    }

    .contact_container .column.right .social-buttons {
        text-align: center;
    }
}

@media only screen and (min-width: 700px) {

    .main_container .column.left {
        align-items: center;
        margin: 60px 0;
    }

    .main_container .column.right .buttons {
        font-size: 14px;
    }

    .main_container .column.left .text_container{
        text-align: center;
    }

    .main_container .column.left .text_container .about_text{
       width: 100%;
    }

    .about_container .about .text-about {
        text-align: center;
    }

    .projects_container .card {
        margin-bottom: 60px;
    }

    .contact_container .column.right {
        width: 50%;
    }

    .contact_container .column.right {
        margin: 0 20px 40px 0;
    }
}

/*Header Responsive*/

@media only screen and (min-width: 1000px) {
    
    
        .nav li {
            float: left;
        }
    
        .nav li a {
            padding: 20px 30px;
        }
    
        .nav .menu {
            clear: none;
            float: right;
            max-height: none;
        }
    
        .nav .menu-icon {
            display: none;
        }
    }